
<div class="back"></div>
<div class="conteiner">
    <app-header></app-header>
    <div class="contenedor">
        <div class="text">
            <div class="titulo">
               <h1>Solo</h1> 
               <h2>Eventos</h2>
            </div>    
            <h3>¡Todo lo que buscas para tu<br> fiesta en un solo lugar!</h3>
        </div>
        <div class="buttons">
            <button id="btnPrecio" type="button" class="btn btn-primary" (click)="download()">
                <i class="fa-solid fa-download"></i>
                Precios
            </button>
            <button id="btnFechas" type="button" class="btn btn-outline-primary" (click)="goToDates()">
                <i class="fa-solid fa-calendar-days"></i>
                Fechas
            </button>
        </div>
    </div>
   
</div>